button {
    margin: 10px 0px;
    padding: 10px 20px;
    width: 100%;
    background-color: $site-color;
    color: $primary-color;
    border-radius: 8px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
