.input-wrapper {

    border-bottom: 2px solid $site-color;
    margin: 10px 0px;
    position: relative;
    // border-radius: 2px;

    input {
        border: 0;
        outline: 0;
        padding: 10px 5px;
        background-color: $input-background-color;
        width: 100%;
    }

    .icon {
        cursor: pointer;
        position: absolute;
        top: 25%;
        right: 4%;
    }

}