.login {
    @include flex-center;
    flex-direction: column;
    height: 100%;
    padding: 8% 10px;

    h2 {
        padding: 10px;
        color: $secondary-color;
    }

    img {
        padding: 20px;
        height: 100px;
        width: auto;
    }
}