.card {
    // border: 2px solid rgb(102, 100, 100);
    border: none;
    margin-bottom: 10px;
    // rotate: -20deg;
    overflow-x: hidden;

    img {
        height: 280px;
        width: 250px;
        border-radius: 12px;
        overflow-x: hidden;
    }
}
